<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <!--正式串-->
    <!--<add name="default" connectionString="server=124.251.44.211;Database=Home_Trains;uid=home_trains_w;pwd=C38hdy3i;Connect Timeout=60" />
    <add name="EBS_READ" connectionString="Data Source=124.251.44.98;Initial Catalog=home_ebs01;UID=home_ebs_r;PWD=j6tut6Uc;" providerName="System.Data.SqlClient"/>
    <add name="EBS_WRITE" connectionString="Data Source=124.251.44.98;Initial Catalog=home_ebs01;UID=home_ebs_w;PWD=kr7mmfJi;" providerName="System.Data.SqlClient"/>
    <add name="EOP_READ" connectionString="Data Source=124.251.44.98;Initial Catalog=home_open;UID=home_open_r;PWD=qcxD7hip;"/>
    <add name="EOP_WRITE" connectionString="Data Source=124.251.44.98;Initial Catalog=home_open;UID=home_open_w;PWD=ptuU3uhc;"/>-->

    <!--测试串-->
    <add name="default" connectionString="server=124.251.46.179;Database=Home_Customer_Test;uid=Home_Customer_w;pwd=bc948602;Connect Timeout=60" />
    <add name="EBS_READ" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;" />
    <add name="EBS_WRITE" connectionString="Data Source=123.103.35.138;Initial Catalog=jjjy_test1107;UID=jjjy_test_admin;PWD=3791f38D;" />
    <add name="EOP_READ" connectionString="Data Source=124.251.46.179;Initial Catalog=home_open_test;UID=home_open_test_admin;PWD=266A7d43;" />
    <add name="EOP_WRITE" connectionString="Data Source=124.251.46.179;Initial Catalog=home_open_test;UID=home_open_test_admin;PWD=266A7d43;" />

    <!--沙箱串-->
    <!--<add name="default" connectionString="server=124.251.44.211;Database=Home_Trains;uid=home_trains_w;pwd=C38hdy3i;Connect Timeout=60"/>
    <add name="EBS_READ" connectionString="Data Source=124.251.46.179;Initial Catalog=home_ebs01_test;UID=home_ebs01_test_admin;PWD=ae87aF4c;" providerName="System.Data.SqlClient"/>
    <add name="EBS_WRITE" connectionString="Data Source=124.251.46.179;Initial Catalog=home_ebs01_test;UID=home_ebs01_test_admin;PWD=ae87aF4c;" providerName="System.Data.SqlClient"/>
    <add name="EOP_READ" connectionString="Data Source=124.251.46.179;Initial Catalog=home_open_sx_test;UID=home_open_sx_test_admin;PWD=5a0F947b;"/>
    <add name="EOP_WRITE" connectionString="Data Source=124.251.46.179;Initial Catalog=home_open_sx_test;UID=home_open_sx_test_admin;PWD=5a0F947b;"/>-->

    <!--沙箱常规串-->
    <add name="EOP_READ_TEST" connectionString="Data Source=124.251.46.179;Initial Catalog=home_open_sx_test;UID=home_open_sx_test_admin;PWD=5a0F947b;" />
    <add name="EOP_WRITE_TEST" connectionString="Data Source=124.251.46.179;Initial Catalog=home_open_sx_test;UID=home_open_sx_test_admin;PWD=5a0F947b;" />
    <add name="EBS_READ_TEST" connectionString="Data Source=124.251.46.179;Initial Catalog=home_ebs01_test;UID=home_ebs01_test_admin;PWD=ae87aF4c;" providerName="System.Data.SqlClient" />
    <add name="EBS_WRITE_TEST" connectionString="Data Source=124.251.46.179;Initial Catalog=home_ebs01_test;UID=home_ebs01_test_admin;PWD=ae87aF4c;" providerName="System.Data.SqlClient" />

    <add name="MySqlLocal" connectionString="Database=TestDB;Data Source=127.0.0.1;UserId=lzl82891314;pwd=221314;charset=utf8" />
  </connectionStrings>
</configuration>